### Example puppet master REST API ACL
### Puppet docs: http://docs.puppetlabs.com/guides/rest_auth_conf.html

### Example for UNAUTHENTICATED connection from 127.0.0.1 (localhost)

path ~ ^/catalog/([^/]+)$
auth any
method find
allow $1
allow_ip 127.0.0.1

path /certificate_request
auth any
method find, search, save
allow *

path /certificate_status
auth any
method find, search
allow_ip 127.0.0.1

path /facts
auth any
method find, search
allow_ip 127.0.0.1

path ~ ^/node/([^/]+)$
auth any
method find
allow $1
allow_ip 127.0.0.1

### Example for AUTHENTICATED connection using client SSL cert "api"

path ~ ^/catalog/([^/]+)$
method find
allow $1
allow api

path /certificate_request
auth any
method find, search, save
allow *

path /certificate_status
method find, search
allow api

path /facts
method find, search
allow api

path ~ ^/node/([^/]+)$
method find
allow $1
allow api
